.main{
    background-image: url(../Photos/Shop1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
}

.main h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50pt;
}

.main p{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}